<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" th:src="@{/js/jquery-3.1.0.js}"></script>
<head>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script>
    $(function () {
        //使用标签选择器选中
        $("tr:gt(0):odd").css("backgroundColor","red");

        //绑定事件几种方式？？？
        $("#btn").click(function () {
            //发送一个Ajax请求
            $.get("/admin/testAjax",function (data) {
                //alert(data);
                //遍历json数据，alert出来
                //注意：this是dom对象
                $.each(data,function () {
                    alert(this.areaId + ":" + this.areaName)
                })
            })
        })
    })
</script>
<body>
    <table class="table">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>desc</th>
            <th>prio</th>
            <th>cTiem</th>
            <th>uTime</th>
        </tr>

        <tr th:each="area : ${areas}">
            <td th:text="${area.areaId}"></td>
            <td th:text="${area.areaName}"></td>
            <td th:text="${area.areaDesc}"></td>
            <td th:text="${area.priority}"></td>
            <td  th:text="${#dates.format(area.createTime, 'yyyy-MM-dd')}"></td>
            <td  th:text="${#dates.format(area.lastEditTime, 'yyyy-MM-dd')}"></td>
        </tr>

        <hr />
        <button type="button" class="btn btn-success" id="btn">TestAjax</button>
    </table>
</body>
</html>